
{{>navbar}}
<div class="employees-table">
    <div class="employees-container">
    <h2 class="Employees-Section-Title">Funcionários</h2>
    <a class="Employee-Button Employee-AddButton" href="/employees-cadaster">+ Funcionário</a>
    <div class="employees-sub-table">
            <li class="topic"><p>Photo</p></li>
            <li class="topic"><p>Nome</p></li>
            <li class="topic"><p>Email</p></li>
            <li class="topic"><p>Setor</p></li>
            <li class="topic"><p>Status</p></li>
            <li class="topic"><p></p></li>
    {{#each results}}
        <li><a>{{EnterpriseCnpj}}</a></li>
        <li><a>{{employeename}}</a></li>
        <li><a>{{cpf}}</a></li>
        <li><a>{{ctps}}</a></li>
        <li><a>{{employeepassword}}</a></li>
        <li><a class="Employee-Button Employee-Button-DB Employee-OpenButton">Abrir</a></li>
    {{/each}}
    </div>
    </div>
</div>

